@import "./variables.scss";
@import "./mixins.scss";

.BackgroundPattern {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images//pattern.png") repeat;
}

.AppContainer {
  background: #fff;
  padding: 0 !important;
}
